html {
  background-color: rgb(0, 73, 75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameOverText {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-shadow: black 2px 0px 2px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid black;
  text-shadow: black 1px 0px 1px;
  border-radius: 10px;
}

.board-box {
  display: flex;
  justify-content: center;
}

.board {
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  border: 1px solid black;
  width: 600px;
  height: 600px;
}

.newDiv {
  border: 5px solid grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btnO,
.btnX {
  font-size: 75px;
  font-weight: 700;
  text-shadow: black 2px 0px 2px;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 75px;
}

.btnX {
  background-color: rgb(76, 155, 76);
}

.btnO {
  background-color: rgb(114, 114, 255);
}

.O {
  color: blue;
  font-size: 75px;
  font-weight: 700;
  text-shadow: black 2px 0px 2px;
}

.X {
  color: green;
  font-size: 75px;
  font-weight: 700;
  text-shadow: black 2px 0px 2px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
